
a.back-to-top i {
    background: #07294d !important;
}

.roof-social a:hover {
    color: #058899 !important;
}

.header-top-right .header-top-button:hover {
    color: #058899 !important;
}

.top-nav-collapse .navbar-nav .nav-link:hover {
    color: #058899 !important;
}

.navbar-expand-lg .navbar-nav li a:hover,
.navbar-expand-lg .navbar-nav li .active>a,
.navbar-expand-lg .navbar-nav li a:focus {
    color: #058899 !important;
    outline: none
}

.navbar li.active a.nav-link {
    background: #058899 !important;
}

.navbar li.active a.nav-link {
    background: #058899 !important;
}

.dropdown .dropdown-item:focus,
.dropdown .dropdown-item:hover,
.dropdown .dropdown-item.active {
    background: #058899 !important;

}

.slicknav_btn {
    border-color: #058899 !important;
}

.slicknav_menu .slicknav_icon-bar {
    background: #058899 !important;
}

.slicknav_nav .active a {
    background: #058899 !important;
}

.slicknav_nav .dropdown li a.active {
    color: #058899 !important;
}

#hero-area .contents span.year {
    color: #058899 !important;
}

.search-bar .inputwithicon i {
    color: #058899 !important;
}

.search-two .search-inner .search-suggestion .search-suggestion-items ul li a:hover {
    color: #058899 !important;
}

.search-two .search-inner .search-suggestion .search-suggestion-items ul li a i {
    background: #058899 !important;
}

#main-slide .carousel-control i:hover {
    background: #058899 !important;
    border-color: #058899 !important;
}

.featured-box figure .price-save {
    background-color: #058899 !important;
}

.featured-box figure .icon span i {
    background: #058899 !important;
}

.featured-box .feature-content .product a:hover {
    color: #058899 !important;
}

.featured-box .feature-content h4 a {
    color: #058899 !important;
}

.featured-box .feature-content .meta-tag span a:hover {
    color: #058899 !important;
}

.featured-box .feature-content .listing-bottom .price {
    color: #058899 !important;
}

.product-item .carousel-thumb:hover {
    border-color: #058899 !important;
}

.product-item .product-title a:hover {
    color: #058899 !important;
}

.product-item .icon i {
    color: #058899 !important;
}

.product-item .icon i:hover {
    border-color: #058899 !important;
    background: #058899 !important;
}

.product-item .card-text .icon-wrap {
    color: #058899 !important;
}

.product-item .card-text .address:hover {
    color: #058899 !important;
}

.bg-sale a {
    background: #058899 !important;
}

.owl-nav div {
    background: #058899 !important;
}

.owl-nav div:hover {
    background: #07d3ee !important;
}

.categories-list-ad .categories-list li a:hover {
    color: #058899 !important;
}

.box:hover {
    background: #058899 !important;
}

#categories .owl-theme .owl-nav div {
    background: #058899 !important;
}

#categories .owl-theme .owl-nav div:hover {
    background: #07d3ee !important;
}

.category-icon-item:hover h4 {
    color: #058899 !important;
}

.category-box .icon i {
    background: #058899 !important;
}

.category-box .category-header h4:hover {
    color: #058899 !important;
}

.category-box .category-content li a:hover {
    color: #058899 !important;
}

.product-filter .nav-tabs .nav-item.show .nav-link,
.product-filter .nav-tabs .nav-link.active {
    color: #058899 !important;
}

.categories-icon .icon-box:hover {
    background: #058899 !important;
}

.ad-categories-inner .icon {
    background: #058899 !important;
}

.page-sidebar .categories-list li a:hover {
    color: #058899 !important;
}

.services-item .icon i {
    color: #058899 !important;
}

.services-item .services-content h3 a {
    color: #058899 !important;
}

.services-item:hover .icon i {
    background: #058899 !important;
}

.works-item .icon-box i {
    color: #058899 !important;
}

.ads-details-wrapper .price {
    background: #058899 !important;
}

.ads-details-wrapper .owl-dots span:hover {
    background: #058899 !important;
}

.ads-details-wrapper .owl-dots .active span {
    background: #058899 !important;
}

.details-box .ads-details-info .details-meta span a:hover {
    color: #058899 !important;
}

.details-box .ads-details-info .list-specification li i {
    color: #058899 !important;
}

.details-sidebar .posts-list .widget-content a:hover {
    color: #058899 !important;
}

.details-sidebar .posts-list .meta-tag span a:hover {
    color: #058899 !important;
}

.details-sidebar .posts-list .price {
    font-size: 16px;
    color: #058899 !important;
}

.sidebar-box .user {
    background: #058899 !important;
}

.sidebar-box .navdashboard ul li a:focus,
.sidebar-box .navdashboard ul li a:hover,
.sidebar-box .navdashboard ul li a.active {
    background: #058899 !important;
}

.dashboard-sections .icon i {
    background: #058899 !important;
}

.dashboard-sections .contentbox h2 a:hover {
    color: #058899 !important;
}

.checkbox a:hover {
    color: #058899 !important;
}

.custom-checkbox .custom-control-input:checked~.custom-control-label::before {
    background-color: #058899 !important;
}

.nav-table ul li a {
    color: #058899 !important;
}

.nav-table ul li a:hover,
.nav-table ul li.active a {
    background: #058899 !important;
}

.adstatusactive {
    background: #058899 !important;
}

.adstatusdeleted {
    background: #f91942
}

.dashboardtable tbody tr:hover .btn-delete {
    background: #058899 !important;
}

.offers-user-online .offerer .bolticon {
    background: #058899 !important;
}

.offers-user-online .offerer .user-name h4 a {
    color: #058899 !important;
}

.chat-message-box .memessage .description a:hover {
    color: #058899 !important;
}

#pricing-table .table .icon i {
    color: #058899 !important;
}

#pricing-table .table .pricing-header .price-value {
    color: #058899 !important;
}

.testimonial .img-thumb img {
    border: 3px solid #058899 !important;
}

.testimonial-item .content .info-text h2 a:hover {
    color: #058899 !important;
}

.testimonial-item .content h3 a {
    color: #058899 !important;
}

.owl-theme .owl-controls .owl-page.active span,
.owl-theme .owl-controls.clickable .owl-page:hover span {
    background: #058899 !important;
}

#blog .blog-item-text h3 a:hover {
    color: #058899 !important;
}

#blog .blog-item-text .btn-rm:hover {
    color: #058899 !important;
}

.blog-post .post-content .post-title a:hover {
    color: #058899 !important;
}

.page-item .page-link {
    color: #058899 !important;
}

.page-link:focus,
.page-link:hover,
.page-link.active {
    background-color: #058899 !important;
}

.post-thumb .date .day {
    color: #058899 !important;
}

.post-meta a:hover {
    color: #058899 !important;
}

.tags-area .post-tags a:hover {
    background: #058899 !important;
}

.share-items .list-inline li a i {
    color: #058899 !important;
}

.share-items .post-social-icons a i.fa-facebook {
    background: #677fb5
}

.share-items .post-social-icons a i.fa-twitter {
    background: #70c2e9
}

.share-items .post-social-icons a i.fa-google-plus {
    background: #c53942
}

.blog-post-item .post-thumb .post-categories a {
    background: #058899 !important;
}

.reply-link {
    color: #058899 !important;
}

.reply-link:hover {
    color: #058899 !important;
}

#sidebar .categories-list li a:hover {
    color: #058899 !important;
}

#sidebar .posts-list .widget-content a:hover {
    color: #058899 !important;
}

#sidebar .tagcloud a:hover {
    color: #058899 !important;
}

#content .contact-form .contact-title:before {
    background: #058899 !important;
}

#content .information .contact-datails .info li p a:hover {
    color: #058899 !important;
}

.call-back .call-us {
    border: 1px solid #058899 !important;
}

.call-back .call-us .icon i {
    color: #058899 !important;
}

.call-back .call-us .contact-text h5 {
    color: #058899 !important;
}

.form-control:focus {
    border-color: #058899 !important;
}

.login-area .forgetpassword:hover {
    color: #058899 !important;
}

.login-area .form-links a:hover {
    color: #058899 !important;
}

footer .menu li a:hover {
    color: #058899 !important;
}

.contact-footer li span a:hover {
    color: #058899 !important;
}

.footer-social li a {
    background-color: #058899 !important;
}

li.current {
    color: #058899 !important;
}

a.nav-link {
    font-weight: bolder !important;
    color: #04438b !important;
}

.top-nav-collapse .navbar-nav .nav-link {
    color: #04438b !important;
}

.section-title:before {

    background-color: #058899 !important;
}

.section-title:after {

    background-color: #058899 !important;
}

.counter i {
    color: #058899 !important;
}

i .lni-book {
    color: #9adae2 !important;
}

#copyright {
    background-color: #058899 !important;
    padding: 20px 0 10px;
    color: #fff
}
