{% extends 'main.html' %} {% block content %} {% load static %}

<div class="page-header" style="background: url(assets/img/banner1.jpg)">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="breadcrumb-wrapper">
          <h2 class="product-title">Blog</h2>
          <ol class="breadcrumb">
            <li><a href="#">Home /</a></li>
            <li class="current">Blog</li>
          </ol>
        </div>
      </div>
    </div>
  </div>
</div>

<div id="content" class="section-padding">
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-12 col-xs-12">
        {% for blog in blogs %}
        <div class="blog-post">
          <div class="post-thumb">
            <a href="#"
              ><img class="img-fluid" src="{{blog.image.url}}" alt=""
            /></a>
            <div class="hover-wrap"></div>
          </div>

          <div class="post-content">
            <div class="meta">
              <span class="meta-part"
                ><a href="#"><i class="lni-user"></i> {{blog.topic}}</a></span
              >
              <span class="meta-part"
                ><a href="#"
                  ><i class="lni-alarm-clock"></i>{{blog.created |
                  timesince}}</a
                ></span
              >
              <span class="meta-part"
                ><a href="#"><i class="lni-folder"></i> Sticky</a></span
              >
              <span class="meta-part"
                ><a href="#"
                  ><i class="lni-comments-alt"></i> 1 Comments</a
                ></span
              >
            </div>
            <h2 class="post-title">
              <a href="{% url 'blog' blog.id %}">{{blog.name}}</a>
            </h2>
            <div class="entry-summary">
              <p>{{blog.body | truncatechars:200}}</p>
            </div>
            <a href="{% url 'blog' blog.id %}" class="btn btn-common"
              >Read More</a
            >
          </div>
        </div>
        {% endfor %}
        <div class="pagination-bar">
          <nav>
            <ul class="pagination">
              <li class="page-item">
                <a class="page-link active" href="#">1</a>
              </li>
              <li class="page-item"><a class="page-link" href="#">2</a></li>
              <li class="page-item"><a class="page-link" href="#">3</a></li>
              <li class="page-item"><a class="page-link" href="#">Next</a></li>
            </ul>
          </nav>
        </div>
      </div>

      <aside id="sidebar" class="col-lg-4 col-md-12 col-xs-12 right-sidebar">
        <div class="widget_search">
          <form role="search" id="search-form">
            <input
              type="search"
              class="form-control"
              autocomplete="off"
              name="s"
              placeholder="Search..."
              id="search-input"
              value=""
            />
            <button type="submit" id="search-submit" class="search-btn">
              <i class="lni-search"></i>
            </button>
          </form>
        </div>

        <div class="widget categories">
          <h4 class="widget-title">All Categories</h4>
          <ul class="categories-list">
            <li>
              <a href="{% url 'blogs' %}">
                <i class="lni-dinner"></i>
                All Topics
                <span class="category-counter">({{topics.count}})</span>
              </a>
            </li>
            {% for topic in topics %}
            <li>
              <a href="{% url 'blogs' %}?q={{topic.name}}">
                <i class="lni-control-panel"></i>
                {{topic.name}}
                <span class="category-counter"
                  >({{topic.blog_set.all.count}})</span
                >
              </a>
            </li>
            {% endfor %}
          </ul>
        </div>

        <div class="widget widget-popular-posts">
          <h4 class="widget-title">Recent Posts</h4>
          <ul class="posts-list">
            {% for blog in blogs.all|slice:5 %}
            <li>
              <div class="widget-thumb">
                <a href="{% url 'blog' blog.id %}"
                  ><img src="{{blog.image.url}}" alt=""
                /></a>
              </div>
              <div class="widget-content">
                <a class="text-dark" href="{% url 'blog' blog.id %}"
                  >{{blog.name}}</a
                >
                <span
                  ><i class="icon-calendar"></i>{{blog.created |
                  timesince}}</span
                >
              </div>
              <div class="clearfix"></div>
            </li>
            {% endfor %}
          </ul>
        </div>
        <div class="widget">
          <h4 class="widget-title">Advertisement</h4>
          <div class="add-box">
            <img src="{% static 'assets/img/img1.jpg' %}" alt="" />
          </div>
        </div>
      </aside>
    </div>
  </div>
</div>

{% endblock %}
