{% extends 'main.html' %}

{% block content %}

{% load static %}

<div class="page-header" style="background: url(assets/img/banner1.jpg)">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="breadcrumb-wrapper">
                    <h2 class="product-title">Post you Room</h2>
                    <ol class="breadcrumb">
                        <li><a href="#">Home /</a></li>
                        <li class="current">Post you Room</li>
                    </ol>
                </div>
            </div>
        </div>
    </div>
</div>


<div id="content" class="section-padding">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 col-md-4 col-lg-3 page-sidebar">
                <aside>
                    <div class="sidebar-box">
                        <div class="user">
                            <figure>
                                <a href="#"><img src="{% static 'assets/img/author/img1.jpg' %}" alt=""></a>
                            </figure>
                            <div class="usercontent">
                                <h3>{{user.username}}</h3>
                                <h4>Administrator</h4>
                            </div>
                        </div>
                        <nav class="navdashboard">
                            <ul> 
                                <li>
                                    <a href="{% url 'update-user' %}">
                                        <i class="lni-cog"></i>
                                        <span>Profile Settings</span>
                                    </a>
                                </li> 
                                <li>
                                    <a href="{% url 'user-profile' user.id %}">
                                        <i class="lni-layers"></i>
                                        <span>My Rooms</span>
                                    </a>
                                </li>                              
                                <li>
                                    <a href="/logout/">
                                        <i class="lni-enter"></i>
                                        <span>Logout</span>
                                    </a>
                                </li>
                            </ul>
                        </nav>
                    </div>
                    <div class="widget">
                        <h4 class="widget-title">Advertisement</h4>
                        <div class="add-box">
                            <img class="img-fluid" src="{% static 'assets/img/img1.jpg' %}" alt="">
                        </div>
                    </div>
                </aside>
            </div>
            <div class="col-sm-12 col-md-8 col-lg-9">
                <div class="row page-content">
                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                        <div class="inner-box">
                            <form method="POST" enctype="multipart/form-data">
                                {% csrf_token %}
                                <div class="dashboard-box">
                                    <h2 class="dashbord-title">Ad Detail</h2>
                                </div>
                                <div class="dashboard-wrapper">
                                    <div class="form-group mb-3">
                                        <label class="control-label">Project Title</label>
                                        <input class="form-control input-md" value="{{room.name}}" name="name" placeholder="Title"
                                            type="text">
                                    </div>
                                    <div class="form-group mb-3 tg-inputwithicon">
                                        <label class="control-label">Categories</label>
                                        <input class="form-control input-md" list="tg-select" name="topic"
                                            value="{{room.topic.name}}" placeholder="Select Topics" type="text">
                                        <datalist id="tg-select">
                                            <select>
                                                {% for topic in topics %}
                                                <option value="{{topic.name}}">{{topic.name}}</option>
                                                {% endfor %}
                                            </select>
                                        </datalist>
                                    </div>
                                    <div class="form-group mb-3">
                                        <label class="control-label">description</label>
                                        <textarea class="form-control input-md" name="description" type="text">{{room.description}}</textarea>
                                    </div>
                                    <div class="form-group md-3">
                                        {{form.image}}
                                    </div>
                                    
                                    <button class="btn btn-success" type="submit">Add Room</button>
                                    <a href="{{request.META.HTTP_REFERER}}" class="btn btn-danger"
                                        type="button">Cancel</a>
                                </div>
                            </form>
                        </div>
                    </div>
                    
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}